CREATE TABLE [dbo].[facilityDataTemp](
	[IndicatorCode] [nvarchar](255) NULL,
	[Attribute] [nvarchar](255) NULL,
	[Value] [float] NULL,
	[HmisCode] [nvarchar](255) NULL,
	[ReferenceYear] [int] NULL,
	[ReferenceMonth] [int] NULL
)
