CREATE TABLE [dbo].[MainData](
	[ProvinceName] [nvarchar](50) NULL,
	[DistrictName] [nvarchar](50) NULL,
	[FacilityName] [nvarchar](50) NULL,
	[Facility Name_JHPEIGO] [nvarchar](255) NULL,
	[ProgramAreaID] [int] NULL,
	[ProgramArea] [nvarchar](255) NULL,
	[IndicatorID] [nvarchar](50) NULL,
	[ID_Order] [int] NULL,
	[IndicatorDescription] [nvarchar](250) NULL,
	[YearID] [int] NULL,
	[Year] [int] NULL,
	[MonthID] [int] NULL,
	[Month] [nvarchar](50) NULL,
	[Quarter] [int] NULL,
	[Gender] [nvarchar](50) NULL,
	[AgeGroup] [nvarchar](50) NULL,
	[Year Month] [nvarchar](max) NULL,
	[Counter] [nvarchar](max) NULL,
	[Number] [int] NULL,
	[AgeGroupID] [int] NULL,
	[GenderID] [int] NULL,
	[zPosition] [int] NULL
)