CREATE TABLE [dbo].[accessFacilityDataTemp](
	[FacilityIndex] [int] NULL,
	[Indicator] [nvarchar](50) NULL,
	[ReferenceYear] [int] NULL,
	[ReferenceMonth] [int] NULL,
	[Sex] [int] NULL,
	[AgeGroup] [int] NULL,
	[Number] [int] NULL,
	[FacilityName] [nvarchar](255) NULL
) 