CREATE TABLE [dbo].[tblFacilityDataEntryTemplate](
	[ID] [int] NOT NULL,
	[IndicatorCode] [nvarchar](255) NULL,
	[Indicator] [nvarchar](255) NULL,
	[lt1] [smallint] NULL,
	[lt4] [smallint] NULL,
	[lt9] [smallint] NULL,
	[lt14] [smallint] NULL,
	[lt19] [smallint] NULL,
	[lt24] [smallint] NULL,
	[lt29] [smallint] NULL,
	[lt49] [smallint] NULL,
	[gte50] [smallint] NULL,
	[rowtotal] [smallint] NULL
)