CREATE TABLE [dbo].[Switchboard Items](
	[SwitchboardID] [int] NULL,
	[ItemNumber] [smallint] NULL,
	[ItemText] [nvarchar](255) NULL,
	[Command] [smallint] NULL,
	[Argument] [nvarchar](255) NULL
) 
