CREATE TABLE [dbo].[FacilityLookUp](
	[FacilityIndex] [int] NOT NULL,
	[FacilityID] [nvarchar](255) NOT NULL,
	[FacilityName] [nvarchar](50) NOT NULL,
	[DistrictID] [int] NULL,
	[FacilityTypeID] [int] NULL,
	[Facility Name_JHPEIGO] [nvarchar](255) NULL
)